.profile {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f6f9;
  border: 1px solid #e7ecf2;
}
.description {
  padding: 20px;
  width: 250px;
  height: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.avatar {
  background-color: #aeb7c0;
  width: 150px;
  border-radius: 50%;
}
.name {
  margin-top: 15px;
  font-size: x-large;
  font-weight: bold;
}
.tag {
  margin-top: 15px;

  color: #aeb7c0;
}
.location {
  margin-top: 15px;

  color: #aeb7c0;
}
.stats {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
}
.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc((100%-3px) / 3);
  border: 1px solid #e2e8ee;
}

.statsItem:first-child {
  border-right: none;
}
.statsItem:last-child {
  border-left: none;
}
.label {
  color: #aeb7c0;
}
.quantity {
  color: #000;
  font-weight: bold;
}
